@use '../utilities/mixins' as *;

.about {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem 1.2rem 0rem;
  max-width: 1200px;
  h2{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: normal;
  }
  img {
    width: 80px;
  }
  p:nth-child(2) {
    margin-bottom: 3rem;
  }

}

@include mq(50em) {
  .about {
    margin: 0rem 5rem;
  }
}

@include mq(75em) {
  .about {
    margin: 0rem 10rem;
  }
}

@include mq(93.7em) {
  .about {
    margin: 0rem auto;
  }
}


