@use '../base/variables' as *;

body {
  background-color: $dark;
  h1 {
      text-transform: uppercase;
  }
  main {
    height: fit-content;
  }

  section {
    margin: 0 2rem 5rem;
  }
  
  .loadingMovies {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}