@use '../base/variables' as *;
@use '../utilities/mixins' as *;

@media (max-width: 767px){
  .nav-sort{
    ul{
        display:none;
    }
  }

  select {
    font-family: $headingFont;
    text-transform: uppercase;
    background: $dark;
    border: 1px solid $light;
    border-radius: 0;
    color: $light;
    width: 10rem;
    padding: .5rem 1rem;
    margin: 2rem 5vw;
    outline: none;
    appearance: none;
    background-image: url('/images/down-arrow.png');
    background-size: .7rem;
    background-repeat: no-repeat;
    background-position: 90% 50%
  }

  option {
    border: 1px solid $light;
    padding: .5rem 0;
  }
}

@media (min-width: 768px){
select{
    display:none;
}
.nav-sort {
    ul {
      max-width: $tablet;
      display: flex;
      flex-wrap: nowrap;
      list-style: none;
      justify-content: space-evenly;
      padding: 0;
      margin: 2rem auto;
      
      // li:last-child a {
      //   border: none;
      // }

      li a {
        font-family: $headingFont;
        text-decoration: none;
        text-transform: uppercase;
        color: $light;

        &:hover,
        &:active,
        &.active {
          // text-decoration: underline;
          border-bottom: 1px solid $light;
          padding-bottom: .2rem;
        }
      }
    }
  }
}