@use '../base/variables' as *;

#page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.5s linear;
  background-image: linear-gradient(180deg,rgba(40,40,40,.60) 25%,rgba(40,40,40,.30) 80%,transparent 98%);
  &.show {
    background-color: $dark;
    transition: background-color 0.1s linear;
  }
  .logo {
    width: 75px;
    margin-left: 1rem;
  }
}