@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.movie-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 1020px;
  gap: 2rem;
  margin: .5rem auto;
  place-items: center;
}

.movie-card {
  position: relative;
  max-width: 300px;

  .movie-poster {
    display: block;
  }

  &-overlay {
    background-color: rgba(40, 40, 40, 0.888);
    font-size: 1rem;
    display: grid;
    grid-template-rows: 75px 120px 50px 80px;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .movie-overview {
    height: 5.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  .btn-favourite {
    padding: 0;
  }

}

.btn-favourite button {
  background-color: transparent;
  border: none;
  color: $light;

  svg {
    fill: $light;
    vertical-align: middle;
  }

  span {
    margin-left: .5rem;
  }
}

.more-info-button {
  margin: 1.5rem 0;
  a {
    font-size: .8rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $light;
    border: solid 1px $light;
    border-radius: 20px;
    padding: .5rem 2rem;
  }
}

.movie {
  .movie-info {
    padding: 0;
    display: flex;
    flex-direction: column;

    p {
      margin: .7rem 0 .3rem;
    }
  }
}