@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.banner-container {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  height: auto;
  width: 100vw;

  img {
    object-fit: cover;
    min-height: 20rem;
    height: 100%;
    margin: 0 auto;
    display: block;
  }
}

.bottom-gradient {
  @include bottom-gradient;
  height: 85%;
  background: linear-gradient(0deg, rgb(40, 40, 40) 1%, transparent 90%);
}

.banner-info-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 2rem;

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1rem;
  }

  a {
    border: none;
    border-radius: 10px;
  }

  @include mq($tablet){
    left: 3rem;

    h1 {
      font-size: 1.5rem;
    }
  }

  @include mq($laptop){
    bottom: 2rem;

    h1 {
      font-size: 1.8rem;
    }
  }

  @include mq($desktop){
    left: 5rem;
    
    h1 {
      font-size: 2rem;
    }
  }
}

.banner-btns {
  @include mq($tablet){
    display: flex;
    gap: 4rem;
    .btn-favourite, .more-info-button {
      margin: 1rem 0rem;
    }
  }

}