@use '../base/variables' as *;

.single-movie-poster {
    background: linear-gradient(0deg, rgba(40,40,40,1) 0%, transparent 60%);
    img{
        height: 30rem;
        object-fit: cover;
        position: relative;
        z-index: -1;
    }
}

.movie-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.movie-info {
    padding: 0rem 1rem;
    font-family: $headingFont;
    h1 {
        font-weight: normal;
    }
    .movie-overview{
        font-family: $bodyFont;
    }
    p svg {
        vertical-align: middle;
        fill: $ratingYellow;
    }
}

.movie-specs {
    display: flex;
    gap: 1.5rem;
}

.btn-favourite {
    padding: 0rem 1rem;
    margin: 1.5rem 0rem;
}

.trailer {
    border: 0;
    aspect-ratio: 16 / 9;
    width: 100%;
    padding: 1rem;
}
