@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.single-movie-poster {
    background: linear-gradient(0deg, rgba(40,40,40,1) 1%, transparent 60%);
    img{
        height: 30rem;
        object-fit: cover;
        position: relative;
        z-index: -1;
    }
}

.single-movie-info {
    padding: 0rem 1rem;
    font-family: $headingFont;
    margin-bottom: 4rem;
    h1 {
        font-weight: normal;
    }
    .movie-overview{
        font-family: $bodyFont;
    }
}

.movie-specs {
    display: flex;
    gap: 1.5rem;
    font-size: 0.9rem;
    svg {
        vertical-align: middle;
        width: 20px;
    }
}


.trailer {
    border: 0;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.individual-movie .btn-favourite {
    margin: 2rem 0rem 3rem;
}

@include mq(25em) {
    .movie-specs {
        font-size: 1rem;
        svg {
            width: 24px;
        }
    }
}

@include  mq(50em) {
    .individual-movie {
        margin-bottom: 4rem;
        padding: 8rem 3rem 5rem;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .hide-poster {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.751) 40%, rgba(0,0,0,0) 65%);
        img {
            display: none;
        }
    }

    .bottom-gradient-single {
        @include bottom-gradient;
      }

    .single-movie-info {
        max-width: 42vw;
        position: relative;
        z-index: 3;
        h1 {
            font-weight: bold;
            font-size: 2.5rem;
        }
    }

    .movie-genre {
        margin-bottom: 2rem;
    }

    .trailer {
        max-width: 450px;
    }
}

@include  mq(93.75em) {
    .individual-movie {
        padding-left: 8rem;
    }
}
