// Colours
$dark: #282828;
$light: #fffef1;

// Type
$bodyFont: 'Open Sans';
$headingFont: 'Lora', serif;

// Breakpoints
$mobile-large: 425px;
$tablet-small: 540px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1600px;
